* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #181616;
  display: flex;
  flex-direction: column;
}

.hero h1 {
  color: #C5C9C5;
  font-size: 3rem;
}

.hero p {
  color: #C5C9C5;
}
